.App{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    height: 400px;
    align-content: space-between;
    margin: auto;
}

.App a {
  
  justify-content: center;
  margin: 20px 20px 20px 20px;
  text-align: center;
}



.skapa {
  max-width: 400px;
  margin: auto;
  text-align: center;
}
.skapa label {
  text-align: left;
  display: block;
}
.skapa h2 {
  font-size: 20px;
  margin-bottom: 30px;
}
.skapa input, .skapa textarea, .skapa select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
}
.skapa button {
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
